<div class="contains">
  <div class="indicators">
    <a routerLink="indicadores"><i class="fas fa-angle-left"></i>  Indicadores</a>
    <h1>Detalle del indicador</h1>
    <app-detalle-indicadores  [indicatorDetail]="indicatorDetail"
                              [loading]="loading"
                              (handleSeeDetails)="onHandleSeeDetails($event)"
    ></app-detalle-indicadores>
  </div>
  <div class="grafics">
    <h1 style="margin-top: 2rem; margin-bottom: 0px;">Gráficos</h1>
    <app-graficos   [indicatorDetail]="indicatorDetail"
                    [results]="grafics"
                    [loading]="loading"
                    (handleSeeDetails)="onHandleSeeDetailsIndicators($event)"
    ></app-graficos>
  </div>
</div>


<ng-template #modalInformation>
  <app-modal
    icon="fal fa-info-circle"
    customClass="bank"
    [title]="'Detalle del indicador'"
    [actionDefault]="'Cancelar'"
    [activeLoading]="false">
    <app-info-indicator>
    </app-info-indicator>
  </app-modal>
</ng-template>
